@font-face {
  font-family: "raleway";
  src: url("fonts/Raleway-Regular.ttf") format("truetype")
 }

body {
  font-family: "raleway";
  margin: 0;
 }

header {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

#logo {
  height: 45px;
  margin: 0;
  cursor: pointer;
  margin-top: 45px;
  padding-bottom: 20px;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer
}

#menu ul {
  display: flex;
  flex-direction: row;
}

.nav-option {
  display: block;
  padding: 2rem;
  margin-top: -16px;
  border-top: 3px solid;
  border-color: white;
}

.nav-option:hover {
  cursor: pointer;
  border-top: 3px solid;
  border-color: #0065FC;
}

#sign-in-nav {
  color: #0065FC;
  font-weight: 800;
}

#rooms-nav {
  color: #0065FC;
  font-weight: 500;
}

#page-presentation h2{
  margin-bottom: 0;
}

#page-presentation p{
  margin-top: 7px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

#filter {
  display: flex;
  flex-direction: row;
}

#search-bar {
  display: inline-flex;
  height: 52px;
}

.search-bar-icon {
  background-color: #F2F2F2;
  padding: 17px;
  border-radius: 20px 0 0 20px;
  text-align: center;
  width: 20px;
  font-size: 18px;
}

#search-text {
  padding: 10px;
  width: 236px;
  border-left: none;
  border-right: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
}

#search-button {
  background-color:#0065FC;
  color: white;
  border-radius: 0 20px 20px 0;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 134px;
}

#search-button-text, #search-text {
  font-size: 16px;
  font-weight: bold;
}

.filter-option {
  display: flex;
  align-items: center;
  margin: 12px;
  border: solid 2px;
  border-radius: 30px;
  border-color: #d9d9d9;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  vertical-align: top;
  justify-content: center;
  margin-top: 30px;
}

.filter-option:hover {
  background: #f6faff;
}

.filter-i {
  /* line-height: 50px; */
  color: #0065FC;
  font-size: 20px;
}

.icon-border {
  border-radius: 100%;
  background: #DEEBFF;
  margin: -2px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-category {
  margin: 13px;
  font-weight: bold;
  /* margin-top: -20px; */
  /* display: block; */
}

#filter h2 {
  margin-top: 45px;
  font-size: 16px;
  margin-right: 8px;
}

#search-infos {
  display: inline-flex;
  margin-bottom: 27px;
}

.icon-infos {
  color: #0065FC;
  height: 25px;
  width: 25px;
  font-size: 14px;
  border: solid 1px;
  margin: 13px 10px 0 0;
  border-radius: 100%;
  border-color: #d9d9d9;
  text-align: center;
  /* vertical-align: top; */
  padding: 4px 2px;
  box-sizing: border-box;
}

.rooms{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

#hosting {
  background-color: #F2F2F2;
  max-width: 64%;
  height: 625px;
  border-radius: 2rem;
  padding: 0 50px;
  box-sizing: border-box;
  margin-right: 40px;
}

#hosting h2 {
  /* margin-left: 50px; */
  padding-top: 25px;
  padding-bottom: 10px;
}

#hosting-rooms {
  /* margin-left: 53px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hosting-rooms-model {
  background-color: white;
  border-radius: 1.25rem;
  height: 200px;
  width: calc(92%/3);
  margin: 2%;
  box-shadow: 0 0 20px 0 #00000044;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 0;
}

.hosting-rooms-model h3 {
  font-size: medium;
  margin: 0.5rem 1.5rem 0 0.75rem;
  padding-bottom: 8px;
  font-weight: bold;
}

.hosting-rooms-model p {
  font-size: small;
  margin: 0 3rem 0 0.75rem;
  padding-bottom: 8px;
  display: flex;
  flex-grow: 1;
}

.hosting-stars {
  margin: 0.1rem 3rem 1.5rem 0.75rem;
  font-size: 11px;
}

.hosting-rooms-model:nth-child(3n + 1) {
    margin-left: 0;
    /* background: red; */
}

.hosting-rooms-model:nth-child(3n) {
    margin-right: 0;
    /* background: blue; */
}

.hosting-img-model{
  width: 100%;
  height: 59%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  display: block;
}

.hosting-rooms-model:hover {
  cursor: pointer;
  transform: scale(1.02);
}


.blue-star {
  color: #0065fc;
}

.grey-star {
  color: #d9d9d9;
}

.show-more{
  padding-left: 5px;
  padding-top: 3px;
  cursor: pointer;
}

.popular {
  background-color: #F2F2F2;
  width: 30%;
  border-radius: 2rem;
  padding: 0 50px;
}

.popular h2{
  padding-top: 25px;
  padding-bottom: 10px;
}

.popular .hosting-rooms-model {
  width: 343px;
  height: 144px;
  margin-left: 0;
  display: flex;
  padding: 5px;
  margin-bottom: 34px;
  border-radius: 1.6rem;
}

.popular-img-model{
  border-radius: 1.25rem 0 0 1.25rem;
  width: 35%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.popular-rooms {
  display: flex;
  flex-direction: column;
}

.popular-rooms-text {
  display: flex;
  flex-direction: column;
}

.popular-stars {
  font-size: 11px;
  margin: 1.5rem 3rem 0.5rem 0.85rem;
}

#activities h2 {
  margin: 0;
}

.activities-places{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 450px;
}

.activities-first-double{
  width: 25%;
}

.activities-first-double .activities-place-model {
  width: 100%;
}


.activities-place-model img{
  width: 100%;
  height: calc(100% - 60px);
  border-radius: 1.25rem;
  display: block;
  object-fit: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.activities-first-double{
  /* display: flex; */
  /* flex-direction: column;
  width: 25%;
  height: 100%;
  align-content: space-around */
}

.activities-first-double .activities-place-model:first-child{
  height: 55%;
}

.activities-first-double .activities-place-model:last-child{
  height: 25%;
}

.activities-place-background{
  height: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 0 20px 0 #00000044;
  margin: 20px;
}

footer {
  height: 218px;
  background-color:#f2f2f2;
  margin-top: 55px;
  width: 100%;
}

.lists {
  display: flex;
  justify-content:space-between;
  width: 1440px;
  margin: auto;
}

.activities-place-model h3 {
  padding-left: 40px;
}

.assist-list {
  margin-right: 400px;
}

.lists li {
  padding-top: 20px;
  font-size: larger;
}

.lists .strong {
  padding-bottom: 10px;
}