body, html {
  font-family: "Raleway";
  margin: 0;
 }

header {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 88%;
}

 h2 {
  font-size: 20px;
  font-weight: bold;
 }

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

#logo {
  height: 45px;
  margin: 0;
  margin-top: 45px;
  padding-bottom: 20px;
  margin-left : -3px;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

#menu ul {
  display: flex;
  flex-direction: row;
}

.nav-option {
  display: block;
  padding: 3rem 2rem 2rem 2rem;
  margin-top: -16px;
  border-top: 3px solid;
  border-color: white;
}

.nav-option:hover {
  border-top: 3px solid;
  border-color: #0065FC;
}

#sign-in-nav {
  color: #0065FC;
  font-weight: 800;
}

#rooms-nav {
  color: #0065FC;
  font-weight: 500;
}

#page-presentation h2{
  margin-bottom: 0;
  margin-top: 10px;
}

#page-presentation p{
  margin-top: 7px;
  font-size: 14px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  width: 88%;
}

#filter {
  display: flex;
  flex-direction: row;
}

#search-bar {
  display: inline-flex;
  height: 45px;
  width: 100%;
}

.search-bar-icon {
  background-color: #F2F2F2;
  padding: 0.85rem;
  border-radius: 16px 0 0 16px;
  text-align: center;
  width: 20px;
  font-size: 18px;
}

#search-text {
  padding: 10px;
  width: 16%;
  border-left: none;
  border-right: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
}

#search-button {
  background-color:#0065FC;
  color: white;
  border-radius: 0 16px 16px 0;
  padding: 10px;
  border: none;
  width: 10%;
  cursor: pointer;
}

#search-button-text, #search-text {
  font-size: 15px;
  font-weight: bold;
}

.search-icon {
  display: none;
}

.filter-option {
  display: flex;
  align-items: center;
  margin: 12px;
  border: solid 2px;
  border-radius: 30px;
  border-color: #d9d9d9;
  font-size: 16px;
  height: 48px;
  vertical-align: top;
  justify-content: center;
  margin-top: 30px;
}

.filter-option:hover {
  background: #f6faff;
}

.filter-i {
  /* line-height: 50px; */
  color: #0065FC;
  font-size: 20px;
}

.icon-border {
  border-radius: 100%;
  background: #DEEBFF;
  margin: -2px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-category {
  margin: 13px;
  font-weight: bold;
  font-size: 16px;
  /* margin-top: -20px; */
  /* display: block; */
}

#filter h2 {
  margin-top: 45px;
  font-size: 17px;
  margin-right: 20px;
}

#search-infos {
  display: inline-flex;
  margin-bottom: 27px;
  margin-top: 15px;
}

#search-infos {
  font-size: 14px;
}

.icon-infos {
  color: #0065FC;
  height: 25px;
  width: 25px;
  font-size: 11px;
  border: solid 1px;
  margin: 10px 10px 0 0;
  border-radius: 100%;
  border-color: #d9d9d9;
  text-align: center;
  /* vertical-align: top; */
  padding: 6px 2px;
  box-sizing: border-box;
}

.rooms{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#hosting {
  background-color: #F2F2F2;
  max-width: 67%;
  height: 625px;
  border-radius: 2rem;
  padding: 0 38px;
  box-sizing: border-box;
  margin-right: 40px;
}

#hosting h2 {
  font-size: 21px;
  /* margin-left: 50px; */
  padding-top: 45px;
  padding-bottom: 10px;
  margin: 0;
}

#hosting-rooms {
  /* margin-left: 53px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hosting-rooms-model {
  background-color: white;
  border-radius: 1.25rem;
  height: 200px;
  width: calc(92%/3);
  margin: 2%;
  box-shadow: 0 0 20px 0 #00000044;
  padding: 5px;
  box-sizing: border-box;
}

.hosting-rooms-model h3 {
  font-size: medium;
  margin: 0.5rem 1.5rem 0 0.75rem;
  padding-bottom: 3px;
  font-weight: bold;
}

.hosting-rooms-model p {
  font-size: small;
  margin: 0 3rem 0 0.75rem;
  padding-bottom: 8px;
  display: inline-block;
  flex-grow: 1;
}

.hosting-stars {
  margin: 0.1rem 3rem 1.5rem 0.75rem;
  font-size: 11px;
}

.hosting-rooms-model:nth-child(3n + 1) {
    margin-left: 0;
    /* background: red; */
}

.hosting-rooms-model:nth-child(3n) {
    margin-right: 0;
    /* background: blue; */
}

.hosting-img-model{
  width: 100%;
  height: 59%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  display: block;
}

.hosting-rooms-model:hover {
  transform: scale(1.02);
}


.blue-star {
  color: #0065fc;
}

.grey-star {
  color: #d9d9d9;
}

.show-more{
  padding-left: 5px;
  padding-top: 22px;
}

.popular {
  background-color: #F2F2F2;
  width: 30%;
  border-radius: 2rem;
  height: 625px;
}

.popular h2{
  font-size: 21px;
  padding-top: 45px;
  padding-bottom: 19px;
  margin: 0;
}

.header-flex {
  display: flex;
  justify-content: space-around;
}

.arrow-icon{
  display: flex;
  justify-content: flex-end;
  padding-top: 47px;
  margin-left: 60px;
}

.arrow-i {
  font-size: 21px;
}

.popular .hosting-rooms-model {
  width: 82%;
  height: 144px;
  margin-left: 0;
  display: flex;
  padding: 5px;
  margin-bottom: 21px;
  border-radius: 1.6rem;
  margin-right: 0;
}

.popular-img-model{
  border-radius: 1.25rem 0 0 1.25rem;
  width: 35%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.popular-rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-rooms-text {
  display: flex;
  flex-direction: column;
}

.popular-stars {
  font-size: 11px;
  margin: 1.5rem 3rem 0.5rem 0.85rem;
}

#activities h2 {
  font-size: 21px;
  margin: 0;
}

.activities-places{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 450px;
}

.activities-first-double{
  width: 25%;
}

.activities-second-double{
 width: 25%;
}

.activities-first-double .activities-place-model {
  width: 100%;
}

.activities-second-double .activities-place-model {
  width: 100%;
}

a.activities-place-model {
  width: 25%;
}

.activities-place-model img{
  width: 100%;
  height: calc(100% - 60px);
  border-radius: 1.25rem;
  display: block;
  object-fit: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.activities-place-model:hover {
  transform: scale(1.02)
}

.activities-first-double .activities-place-model:first-child{
  height: 55%;
  margin-bottom: 36px;
}

.activities-first-double .activities-place-model:last-child{
  height: calc(45% - 36px);
}

.activities-second-double .activities-place-model:first-child{
  height: 45%;
  margin-bottom: 36px;
}

.activities-second-double .activities-place-model:last-child{
  height: calc(55% - 36px);
}

.activities-second-double .activities-place-background{
  margin-right: 0;
}

.activities-places > .activities-place-model:first-child .activities-place-background {
  margin-left: 0;
}

.activities-place-background{
  height: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 0 20px 0 #00000044;
  margin: 20px;
}

footer {
  height: 190px;
  background-color:#f2f2f2;
  margin-top: 80px;
  width: 100%;
}

.lists {
  display: flex;
  justify-content:space-between;
  max-width: 1440px;
  width: 87%;
  margin: 0 auto;
}

.activities-place-model h3 {
  padding: 0 20px;
  font-size: initial;
  margin-top: 20px;
}

.lists li {
  padding-top: 10px;
  font-size: larger;
}

.lists a {
  font-size: 15px;
}

.lists .strong {
  padding-bottom: 10px;
}

.lists ul {
  width: calc(100%/3);
}

/* Responsive */

@media screen and (max-width : 768px){

  main, header, .popular, .lists {
    width: 100%;
  }

  header {
    display: block;
  }

  #logo {
    margin-left: 20px;
    margin-top: 23px;
  }

  #menu ul li {
  width: 50%;
  text-align: center;
  }

  .nav-option {
    border-top: none;
    border-bottom: 3px solid;
    border-color: #f2f2f2;
    padding: 15px 0;
  }

  .nav-option:hover {
    border-top: none;
    border-bottom: 3px solid;
    border-color: #0065FC;
  }

  #sign-in-nav {
  border: none;
  }

  #sign-in-nav:hover {
  border: none;
  color: rgb(134, 134, 248);
  }

  #menu ul {
  width: 100%;
  }

  #menu ul li:last-child {
  position: absolute;
  top: 40px;
  right: -50px;
  }

  .search {
    padding: 0 30px 0px 20px;
  }

  #search-bar {
    margin-top: 17px;
  }

  #search-button {
    border-radius: 14px;
    width: 45px;
  }

  #search-button-text {
    display: none;
  }

  #search-text {
    width: 79%;
  }

  .search-icon {
    display: inline-block;
  }

  .show-more {
    padding: 7px 0 20px 5px;
  }

  .popular {
    border-radius: 0px;
  }

  .arrow-icon {
    padding-top: 42px;
  }

  .header-flex {
    justify-content: space-between;
    padding: 0 30px;
  }

  .popular .hosting-rooms-model {
    width: 90%;
  }

  .popular h2 {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .rooms {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  #filter {
    flex-wrap: wrap;
  }

  #filter h2 {
    width: 100%;
    margin-top: 30px;
  }

  .filter-option {
    margin: 5px;
  }

  #hosting {
    max-width: 100%;
    margin-right: 0;
    height: auto;
    background-color: white;
    padding: 30px;
  }

  #hosting h2 {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  #hosting-rooms {
    flex-direction: column;
  }

  .hosting-rooms-model {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0 #0000001f;
  }

  #activities {
    padding: 0 30px;
  }

  #activities h2 {
    margin-bottom: 25px;
  }

  .activities-place-model img {
    height: 150px;
  }

  .activities-place-model, .activities-first-double .activities-place-model:first-child, .activities-second-double .activities-place-model:first-child {
    margin-bottom: 20px;
  }

  .activities-place-model h3 {
    margin: 15px 0;
    display: inline-block;
  }

  .activities-place-background {
    margin: 0;
    margin-bottom: 0;
    height: 100%;
  }

  .activities-places {
    height: auto;
    flex-direction: column;
  }

  a.activities-place-model, .activities-first-double, .activities-second-double {
    width: 100%;
  }

  footer {
    height: auto;
  }

  .lists {
    flex-direction: column;
    margin: auto;
    margin-top: -45px;
  }

  .lists ul {
    width: 100%;
    margin-bottom: 30px;
  }

  .lists ul li {
    margin-left: 30px;
  }
}

@media screen and (max-width : 1370px) and (min-width : 769px) {

  .search-icon {
    display: none;
  }

  .rooms {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  #hosting {
    height: 850px;
    margin-bottom: 50px;
    max-width: 100%;
    margin-right: 0;
  }

  .hosting-rooms-model {
    width: calc(92%/2);
  }

  .header-flex {
    justify-content: space-between;

  }

  .popular {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
  }

  .popular-rooms {
    display: flex;
    flex-direction: row;
  }

  .popular h2 {
    margin-left: 43px;
    padding-bottom: 5px;
  }

  .arrow-i {
    margin-right: 30px;
  }

  .popular .hosting-rooms-model {
    margin-left: 40px;
  }

  .popular .hosting-rooms-model:nth-child(3n) {
    margin-right: 40px;
  }

  #hosting .hosting-rooms-model {
    margin: 15px;
  }


 .activities-place-model:nth-child(3) .activities-place-background h3{
    margin-top: 13px;
 }

}

@media screen and (max-width : 1175px) and (min-width : 769px) {

  #search-button {
    border-radius: 14px;
    width: 45px;
  }

  #search-button-text {
    display: none;
  }

  .search-icon {
    display: inline-block;
  }

  .popular {
    height: 650px;
  }

  .popular-rooms {
    flex-wrap: wrap;
  }

  .popular .hosting-rooms-model:nth-child(2) {
    margin-right: 40px;
  }

  .activities-places {
    flex-wrap: wrap;
    height: auto;
  }

  a.activities-place-model, .activities-first-double, .activities-second-double {
    width: 50%;
  }

  .activities-places > .activities-place-model:first-child .activities-place-background {
    margin-left: 20px;
  }

  .activities-second-double .activities-place-background {
    margin-right: 20px;
  }

  .activities-second-double {
    margin-top: 40px;
  }

  .activities-places .activities-place-model:nth-child(3) {
    margin-top: 40px;
  }

  footer {
    height: auto;
  }

  .lists {
    flex-direction: column;
    margin: auto;
  }

  .lists ul {
    width: 100%;
    margin-bottom: 30px;
  }

  .lists ul li {
    margin-left: 30px;
  }
}

@media screen and (max-width : 965px) and (min-width : 769px) {

  #filter {
    flex-wrap: wrap;
  }

  #filter h2 {
    width: 100%;
  }

  .filter-option {
    margin: 12px;
  }

  #search-button {
    border-radius: 14px;
    width: 45px;
  }

  #search-button-text {
    display: none;
  }

  .search-icon {
    display: inline-block;
  }

  #hosting {
    max-width: 100%;
    height: auto;
  }

  .hosting-rooms-model {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      box-shadow: 0 0 20px 0 #0000001f;
  }

  .popular .hosting-rooms-model:nth-child(1) {
    margin-top: 17px;
  }


}